@font-face {
  font-family: "tbds";
  src: url("../fonts/tbds.eot?l1xhse");
  src: url("../fonts/tbds.eot?l1xhse#iefix") format("embedded-opentype"), url("../fonts/tbds.ttf?l1xhse") format("truetype"), url("../fonts/tbds.woff?l1xhse") format("woff"), url("../fonts/tbds.svg?l1xhse#tbds") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.tbds-g_translate:before {
  font-family: "tbds" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e900";
}

* {
  box-sizing: border-box;
}

.wp-admin {
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.wp-admin ::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.wp-admin ::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin-top: 2px;
  margin-bottom: 2px;
}
.wp-admin ::-webkit-scrollbar-thumb {
  background: #cecece;
  border-radius: 20px;
}
.wp-admin ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.select2-container--default .select2-selection--single {
  height: 34px;
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  margin: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li .select2-search__field {
  width: 100% !important;
  border: 0;
  padding: 0;
  margin: 10px 0;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
}

input[type=number] {
  height: auto;
}

.vi-ui.attached.segment {
  max-height: 500px;
  overflow: auto;
  min-height: 250px;
}

.vi-ui.attached.segment.tbds-product-tab {
  max-height: unset;
  overflow: visible;
}

.vi-ui .form-table th,
.vi-ui .form-table td {
  text-align: center;
}

.vi-ui .form-table thead tr td,
.vi-ui .form-table thead tr th {
  background: #f7f7f7;
}

.wrap .tbds-button-import-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.wrap .tbds-product-container {
  position: relative;
}

.wp-editor-wrap iframe {
  min-height: 330px;
}

.tbds-variation-image,
.tbds-product-image,
.tbds-product-gallery .tbds-product-gallery-item {
  margin: 15px;
  outline: 2px solid rgba(228, 228, 228, 0.67);
  display: inline-flex;
  position: relative;
  cursor: pointer;
}

.tbds-product-variation-row .tbds-variation-image {
  margin: 5px;
}

.tbds-selected-item {
  outline: 3px solid #7cc84f !important;
}

.tbds-variation-image {
  outline: 1px solid rgba(228, 228, 228, 0.67);
}

.tbds-variation-image.tbds-selected-item {
  outline: 2px solid #7cc84f !important;
}

.tbds-selected-item-icon-check {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  text-align: center;
}

.tbds-variation-image.tbds-selected-item span.tbds-selected-item-icon-check {
  width: 16px;
  height: 16px;
  outline: 2px solid #7cc84f !important;
}

.tbds-selected-item .tbds-selected-item-icon-check:before {
  content: "\f147";
  font-family: Dashicons;
  text-align: center;
  vertical-align: middle;
}

.tbds-variation-image.tbds-selected-item .tbds-selected-item-icon-check:before {
  display: block;
}

.tbds-selected-item .tbds-selected-item-icon-check {
  outline: 3px solid #7cc84f;
  background: #ffffff;
}

.tbds-product-gallery .tbds-product-gallery-item .tbds-product-gallery-image {
  max-height: 150px;
  min-width: 150px;
  max-width: 300px;
}

/*.tbds-button-import-all-container span.vi-ui.button.primary.tbds-button-import-all,*/
/*.tbds-button-view-and-edit .vi-ui.button {*/
/*font-size: 12px;*/
/*}*/
.thirteen.wide.field > .field {
  margin: 10px 0;
}

.tbds-button-import-all-container {
  text-align: center;
  float: left;
}

.tbds-product-container .tbds-set-price {
  color: #52bae9;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 300;
}

/*set price popup*/
/*html no scroll*/
html.tbds-noscroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

.tbds-hidden {
  display: none !important;
}

.tbds-modal-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.tbds-modal-popup-container .tbds-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(1, 1, 1, 0.3);
}

.tbds-modal-popup-container .tbds-saving-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 100;
  cursor: progress;
}

.tbds-saving-overlay:before,
.tbds-accordion .tbds-product-overlay:before {
  content: url("../img/loading.gif");
  font-size: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale3d(0.5, 0.5, 0.5);
  margin: 0;
  padding: 0;
}

.tbds-modal-popup-container .tbds-modal-popup-content {
  position: relative;
  z-index: 99;
  width: 100%;
  max-height: 80%;
  overflow: hidden;
  background: white;
  display: none;
  flex-direction: column;
  max-width: 600px;
  border-radius: 10px;
}

.tbds-modal-popup-container.tbds-modal-popup-container-set-tags .tbds-modal-popup-content-set-tags,
.tbds-modal-popup-container.tbds-modal-popup-container-set-categories .tbds-modal-popup-content-set-categories,
.tbds-modal-popup-container.tbds-modal-popup-container-remove-attribute .tbds-modal-popup-content-remove-attribute,
.tbds-modal-popup-container.tbds-modal-popup-container-set-price .tbds-modal-popup-content-set-price {
  display: flex;
}

.tbds-modal-popup-container.tbds-modal-popup-container-set-tags .tbds-modal-popup-content-set-tags,
.tbds-modal-popup-container.tbds-modal-popup-container-set-tags .tbds-modal-popup-content-set-tags .tbds-modal-popup-content-body,
.tbds-modal-popup-container.tbds-modal-popup-container-set-categories .tbds-modal-popup-content-set-categories,
.tbds-modal-popup-container.tbds-modal-popup-container-set-categories .tbds-modal-popup-content-set-categories .tbds-modal-popup-content-body {
  overflow: visible;
}

.tbds-modal-popup-container .tbds-modal-popup-content .tbds-modal-popup-header {
  display: flex;
  padding: 10px 20px;
  justify-content: flex-start;
  position: relative;
}

.tbds-modal-popup-container .tbds-modal-popup-content .tbds-modal-popup-header .tbds-modal-popup-close {
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.tbds-modal-popup-container .tbds-modal-popup-content .tbds-modal-popup-header .tbds-modal-popup-close:before {
  font-family: Dashicons;
  content: "\f335";
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.tbds-modal-popup-container .tbds-modal-popup-content .tbds-modal-popup-content-body {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px;
  overflow: auto;
}

.tbds-modal-popup-container .tbds-modal-popup-content .tbds-modal-popup-content-body .tbds-modal-popup-content-body-row .tbds-set-price-action-wrap {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 20px;
}

.tbds-modal-popup-container .tbds-modal-popup-content .tbds-modal-popup-content-body .tbds-modal-popup-content-body-row .tbds-set-price-amount-wrap {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 20px;
}

.tbds-modal-popup-container .tbds-modal-popup-content .tbds-modal-popup-content-body .tbds-modal-popup-content-body-row {
  display: flex;
  padding-top: 20px;
}

.tbds-modal-popup-container .tbds-modal-popup-content .tbds-modal-popup-content-footer {
  display: flex;
  padding: 20px;
  justify-content: flex-end;
}

.tbds-modal-popup-container .tbds-modal-popup-content .tbds-modal-popup-content-footer .button {
  margin: 0 5px;
}

.tbds-price-error {
  border: 1px solid red !important;
}

/*remove attribute popup*/
.tbds-modal-popup-container .tbds-modal-popup-content .tbds-modal-popup-content-body .tbds-modal-popup-content-body-row.tbds-modal-popup-select-attribute {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tbds-modal-popup-container .tbds-modal-popup-content .tbds-modal-popup-content-body .tbds-modal-popup-content-body-row.tbds-modal-popup-select-attribute .tbds-attributes-attribute-value {
  margin: 4px;
}

.tbds-modal-popup-container .tbds-modal-popup-content.tbds-modal-popup-content-remove-attribute .tbds-modal-popup-header {
  padding: 10px 40px;
}

tr.tbds-attributes-attribute-row.tbds-attributes-attribute-removing td:first-child {
  border-left: 1px solid red !important;
}

tr.tbds-attributes-attribute-row.tbds-attributes-attribute-removing td:last-child {
  border-right: 1px solid red !important;
}

tr.tbds-attributes-attribute-row.tbds-attributes-attribute-removing td {
  border-top: 1px solid red !important;
  border-bottom: 1px solid red !important;
}

/*override product options*/
/*popup options*/
.tbds-override-product-options-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.tbds-override-product-options-container .tbds-override-product-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(1, 1, 1, 0.3);
}

.tbds-override-product-options-container .tbds-override-product-saving-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 100;
  cursor: progress;
  display: none;
}

.tbds-override-product-options-container .tbds-override-product-options-content {
  position: relative;
  z-index: 99;
  width: 100%;
  max-height: 90%;
  overflow: hidden;
  background: white;
  display: flex;
  flex-direction: column;
  max-width: 768px;
  border-radius: 10px;
}

.tbds-override-product-options-container .tbds-override-product-options-content .tbds-override-product-options-content-header {
  display: flex;
  padding: 10px 45px 10px 20px;
  justify-content: flex-start;
  position: relative;
  flex-wrap: wrap;
}

.tbds-override-product-options-container .tbds-override-product-options-content .tbds-override-product-options-content-header .tbds-override-product-options-close {
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: all 300ms ease;
}

.tbds-override-product-options-container .tbds-override-product-options-content .tbds-override-product-options-content-header .tbds-override-product-options-close:hover {
  background: #efefef;
}

.tbds-override-product-options-container .tbds-override-product-options-content .tbds-override-product-options-content-header .vi-ui.message {
  margin-top: 0;
}

.tbds-override-product-options-container .tbds-override-product-options-content .tbds-override-product-options-content-header .tbds-override-product-options-close:before {
  font-family: Dashicons;
  content: "\f335";
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.tbds-override-product-options-container .tbds-override-product-options-content .tbds-override-product-options-content-body {
  display: flex;
  flex-wrap: wrap;
  max-height: 500px;
  overflow: auto;
}

.tbds-override-product-options-container .tbds-override-product-options-content .tbds-override-product-options-content-body.tbds-override-product-options-content-body-option {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.tbds-override-product-options-container .tbds-override-product-options-content .tbds-override-product-options-content-body .tbds-override-product-options-content-body-row .tbds-override-product-options-option-wrap .tbds-override-product-options-option {
  margin: 0 10px 0 0;
}

.tbds-override-product-options-container .tbds-override-product-options-content .tbds-override-product-options-content-body .tbds-override-product-options-content-body-row .tbds-override-product-options-option-wrap {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tbds-override-product-options-container .tbds-override-product-options-content .tbds-override-product-options-content-body .tbds-override-product-options-content-body-row {
  display: flex;
  padding-top: 20px;
  width: 50%;
}

.tbds-override-product-options-container .tbds-override-product-options-content .tbds-override-product-options-content-body-row.tbds-override-product-options-content-body-row-override-hide {
  width: 100% !important;
  margin-top: 20px;
  border-top: 1px solid #eaeaea;
  padding-bottom: 20px;
}

.tbds-override-product-options-container .tbds-override-product-options-content .tbds-override-product-options-content-footer {
  display: flex;
  padding: 20px;
  justify-content: flex-end;
}

.tbds-override-product-options-container .tbds-override-product-options-content .tbds-override-product-options-content-footer .tbds-button {
  margin: 0 5px;
}

.tbds-override-product-options-content-header span.tbds-override-product-title {
  font-weight: 400;
}

/*select attribute to override*/
.tbds-override-product-options-container .tbds-override-product-options-content .tbds-override-product-options-content-body.tbds-override-product-options-content-body-override-old {
  padding: 0 10px;
}

.tbds-override-product-options-container .tbds-override-product-options-content .tbds-override-product-options-content-body.tbds-override-product-options-content-body-override-old .vi-ui.table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
  white-space: nowrap;
}

.tbds-override-product-options-container .tbds-override-product-options-content .tbds-override-product-options-content-body .tbds-override-unfulfilled-items-count {
  text-align: center;
}

.tbds-override-product-options-container .tbds-override-product-options-content .tbds-override-product-options-content-body .tbds-override-from {
  display: flex;
  align-items: center;
}

.tbds-override-product-options-container .tbds-override-product-options-content .tbds-override-product-options-content-body .tbds-override-from-image {
  width: 30px;
  margin: 5px;
}

.tbds-override-product-options-container .tbds-override-product-options-content .tbds-override-product-options-content-body .tbds-override-from-title {
  width: calc(100% - 30px);
}

.tbds-override-product-options-container .tbds-override-product-text-map-existing,
.tbds-override-product-options-container .tbds-override-product-text-reimport {
  display: none;
}

.tbds-override-product-options-container.tbds-override-product-options-container-map-existing .tbds-override-product-text-map-existing,
.tbds-override-product-options-container.tbds-override-product-options-container-reimport .tbds-override-product-text-reimport {
  display: inline-block;
}

.tbds-override-product-options-container.tbds-override-product-options-container-map-existing .tbds-override-product-text-override,
.tbds-override-product-options-container.tbds-override-product-options-container-map-existing .tbds-override-product-options-content-body-row-override-find-in-orders,
.tbds-override-product-options-container.tbds-override-product-options-container-map-existing .tbds-override-product-options-content-body-row-override-keep-product,
.tbds-override-product-options-container.tbds-override-product-options-container-reimport .tbds-override-product-options-content-body-row-override-find-in-orders,
.tbds-override-product-options-container.tbds-override-product-options-container-reimport .tbds-override-product-options-content-body-row-override-keep-product,
.tbds-override-product-options-container.tbds-override-product-options-container-reimport .tbds-override-product-remove-warning,
.tbds-override-product-options-container.tbds-override-product-options-container-reimport .tbds-override-product-text-override {
  display: none !important;
}

/*price field*/
.tbds-price-field {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0;
  outline: 0;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255, 255, 255, 0);
  line-height: 1.2142em;
  padding: 0.67861429em 1em;
  font-size: 1em;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  box-shadow: 0 0 0 0 transparent inset;
  -webkit-transition: color 0.1s ease, border-color 0.1s ease;
  transition: color 0.1s ease, border-color 0.1s ease;
}

span.tbds-currency-symbol + input {
  width: calc(100% - 20px) !important;
}

span.tbds-currency-symbol {
  margin: 0 !important;
}

/*product image and title in accordion title*/
.tbds-accordion {
  margin: 30px 0;
  position: relative;
}

.tbds-accordion .tbds-product-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
}

.tbds-accordion .tbds-product-overlay:before {
  content: url("../img/loading.gif");
  font-size: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale3d(0.5, 0.5, 0.5);
  margin: 0;
  padding: 0;
}

.tbds-accordion-product-image-title-container {
  display: inline-block;
  width: 100%;
  max-width: calc(100% - 430px);
  vertical-align: middle;
}

.tbds-accordion-product-image-title {
  display: flex;
  align-items: center;
}

.tbds-accordion-product-title-container {
  width: calc(100% - 45px);
}

.tbds-accordion-product-title {
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 2em;
  white-space: nowrap;
}

.tbds-accordion-product-image {
  width: 48px;
  outline: 1px solid rgba(1, 1, 1, 0.1);
  margin: 0 5px;
}

.tbds-accordion-product-date span {
  font-weight: 500;
}

.vi-ui.styled.accordion .title .tbds-button-view-and-edit {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.tbds-override-product-message {
  padding: 5px 0;
}

.vi-ui.accordion .accordion .active.content, .vi-ui.accordion .active.content {
  padding-top: 0;
}

.vi-ui.dropdown .menu > .item,
.vi-ui.form,
.vi-ui.form input:not([type]), .vi-ui.form input[type=date], .vi-ui.form input[type=datetime-local], .vi-ui.form input[type=email], .vi-ui.form input[type=number], .vi-ui.form input[type=password], .vi-ui.form input[type=search], .vi-ui.form input[type=tel], .vi-ui.form input[type=time], .vi-ui.form input[type=text], .vi-ui.form input[type=url] {
  font-size: 13px;
}

.tbds-accordion .tbds-product-container .form-table th {
  padding: 8px;
  vertical-align: middle;
}

.tbds-accordion .tbds-product-container .vi-ui.table td,
.tbds-accordion .tbds-product-container .form-table td {
  padding: 2px 4px;
}

.vi-ui.styled.accordion .title {
  position: relative;
}

.vi-ui.accordion .vi-ui.attached.tabular.menu {
  padding-top: 0;
}

form p.search-box input.text.short {
  width: calc(100% - 130px);
  max-width: 300px;
}

.tablenav .tablenav-pages {
  margin: 0;
}

form p.search-box {
  margin: 0;
  width: calc(100% - 650px);
  position: relative;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 782px) {
  .vi-ui.styled.accordion .title .tbds-button-view-and-edit {
    transform: unset;
    position: relative;
    right: unset;
    top: unset;
  }

  .tbds-accordion-product-image-title-container {
    max-width: calc(100% - 30px);
  }

  form p.search-box {
    width: 100%;
  }

  form p.search-box input.text.short {
    max-width: 100%;
  }

  .tbds-button-import-all-container {
    width: 100%;
  }

  .tablenav {
    height: 140px !important;
  }

  .tablenav.top > * {
    padding: 5px;
  }
}
.tbds-table-fix-head {
  overflow-y: auto;
  height: 100px;
}

.tbds-table-fix-head thead td, .tbds-table-fix-head thead th {
  position: sticky;
  top: -1.2em;
  z-index: 2;
}

.tbds-table-fix-head.tbds-variation-table-attributes-count-1 {
  min-width: 900px;
}

.tbds-table-fix-head.tbds-variation-table-attributes-count-2 {
  min-width: 1000px;
}

.tbds-table-fix-head.tbds-variation-table-attributes-count-3 {
  min-width: 1100px;
}

.tbds-table-fix-head.tbds-variation-table-attributes-count-4 {
  min-width: 1200px;
}

/* Just common table stuff. Really. */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px 16px;
}

th {
  background: #eee;
}

.tbds-variations-tab .labeled.input input.tbds-import-data-variation-sale-price,
.tbds-variations-tab .labeled.input input.tbds-import-data-variation-regular-price {
  width: calc(100% - 32px);
  padding: 9px 2px;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.tbds-fix-width {
  width: 1px !important;
}

.tbds-sale-price-col, .tbds-regular-price-col {
  width: 12% !important;
}

.tbds-inventory-col {
  width: 8% !important;
}

/*set product image*/
i.tbds-set-variation-image {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 20px;
  text-align: center;
  font-size: 16px;
  display: none;
  border-radius: 50%;
  background: white;
  transform: scale3d(1, 1, 1);
  transition: transform 100ms;
}

i.tbds-set-product-image.star.icon {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  text-align: center;
  color: #969696;
  font-size: 16px;
  display: none;
  border-radius: 50%;
  background: white;
  transform: scale3d(1, 1, 1);
  transition: transform 100ms;
}

.tbds-allow-set-variation-image .tbds-product-gallery-item:hover i.tbds-set-variation-image {
  display: inline-block;
}

.tbds-product-gallery-item:hover i.tbds-set-product-image.star.icon {
  display: inline-block;
}

.tbds-product-gallery-item.tbds-is-product-image i.tbds-set-product-image.star.icon {
  color: #ffbf4a;
  display: inline-block;
}

.tbds-product-gallery-item.tbds-selected-item.ui-sortable-handle.tbds-is-product-image,
.tbds-product-gallery-item.tbds-selected-item.ui-sortable-handle.tbds-is-product-image .tbds-selected-item-icon-check {
  outline: 3px solid #ffbf4a !important;
}

i.tbds-set-variation-image:hover {
  color: black;
  transform: scale3d(1.1, 1.1, 1.1);
}

i.tbds-set-product-image.star.icon:hover {
  color: #ffbf4a;
  transform: scale3d(1.1, 1.1, 1.1);
}

/*filter attributes*/
ul.tbds-attribute-filter-list {
  display: none;
  position: absolute;
  margin: 0;
  text-align: left;
  padding: 4px;
  background: #ffffff;
  color: #000000;
  width: auto;
  right: 0;
  font-weight: 300;
  max-height: 200px;
  overflow: auto;
  min-width: 100%;
  box-shadow: -1px 1px 7px rgba(1, 1, 1, 0.1);
  max-width: 500px;
}

th.tbds-attribute-filter-list-container:hover .tbds-attribute-filter-list {
  display: block;
}

ul.tbds-attribute-filter-list li.tbds-attribute-filter-item {
  padding: 4px;
  margin: 1px;
  cursor: pointer;
  transition: all 200ms ease;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: capitalize;
}

ul.tbds-attribute-filter-list li.tbds-attribute-filter-item:hover {
  background: #e6e6e6;
  color: black;
}

ul.tbds-attribute-filter-list li.tbds-attribute-filter-item.tbds-attribute-filter-item-active {
  background: #fff;
  color: black;
  font-weight: 700;
}

.tbds-variation-filter-inactive {
  display: none;
}

/*Importing/Removing*/
.vi-ui.button {
  transition: font-size 300ms ease;
}

.tbds-accordion-importing .button:not(.tbds-button-import) {
  font-size: 0;
}

.tbds-accordion-removing .button:not(.tbds-button-remove) {
  font-size: 0;
}

.tbds-message .vi-ui.message {
  margin-bottom: 1em;
}

/*Select shipping*/
.tbds-shipping-info-country.vi-ui.dropdown .dropdown.icon,
.tbds-shipping-info-country.vi-ui.dropdown .search,
.tbds-shipping-info-country.vi-ui.dropdown .menu > .item,
.tbds-shipping-info-country.vi-ui.dropdown,
.tbds-shipping-info-company.vi-ui.dropdown .dropdown.icon,
.tbds-shipping-info-company.vi-ui.dropdown .search,
.tbds-shipping-info-company.vi-ui.dropdown .menu > .item,
.tbds-shipping-info-company.vi-ui.dropdown {
  padding: 4px 6px !important;
  min-height: unset;
}

.tbds-shipping-info-company.vi-ui.dropdown > .text,
.tbds-shipping-info-country.vi-ui.dropdown > .text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 125px;
}

.tbds-shipping-info-country-wrap {
  margin: 5px 0;
}

/*Attributes tab*/
.tbds-attributes-tab table thead th {
  position: sticky;
  top: -1em;
}

.tbds-attributes-tab table th,
.tbds-attributes-tab table td {
  text-align: center !important;
}

.tbds-attributes-tab input {
  margin: 2px 0 !important;
}

.tbds-attributes-tab tr td .tbds-attributes-attribute-values {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tbds-attributes-tab tr td .tbds-attributes-attribute-values .tbds-attributes-attribute-value {
  display: inline-block;
  width: auto;
  min-width: unset !important;
}

.tbds-attributes-tab th.tbds-attributes-attribute-col-position {
  width: 1%;
}

.tbds-attributes-tab th.tbds-attributes-attribute-col-name,
.tbds-attributes-tab th.tbds-attributes-attribute-col-slug {
  min-width: 150px;
  width: 1%;
}

.tbds-attributes-tab th.tbds-attributes-attribute-col-action {
  min-width: 120px;
}

.tbds-attributes-attribute-row:not(.tbds-attributes-attribute-editing) .tbds-attributes-button-save-cancel,
.tbds-attributes-attribute-row.tbds-attributes-attribute-editing .tbds-attributes-attribute-remove,
.tbds-attributes-attribute-row.tbds-attributes-attribute-editing .tbds-attributes-button-edit {
  display: none;
}

.tbds-import-list {
  margin-top: 0 !important;
  border-top: 0 !important;
  border-radius: 0 0 4px 4px !important;
}

.tbds-pagination-form {
  position: sticky !important;
  top: 32px !important;
  z-index: 999 !important;
  margin-bottom: 0 !important;
  border-bottom: none !important;
  border-radius: 4px 4px 0 0 !important;
}

/*set categories/tags*/
.tbds-accordion-bulk-actions-container {
  display: none;
}

.tbds-modal-popup-set-tags-select-wrap,
.tbds-modal-popup-set-categories-select-wrap {
  width: 100%;
  padding: 0 20px;
}

.tbds-accordion-bulk-actions-container .vi-ui.dropdown > .default.text {
  color: inherit;
}

.tbds-accordion-bulk-actions-container .vi-ui.dropdown .item[data-value=import] {
  border-bottom: 1px solid rgba(1, 1, 1, 0.1) !important;
  color: #21ba45;
}

.tbds-accordion-bulk-actions-container .vi-ui.dropdown .item[data-value=remove] {
  color: #db2828;
}

.tbds-product-price-alert {
  background: #fff4e2 !important;
}

.tbds-accordion-bulk-actions-container .vi-ui.dropdown .item[data-value=set_visibility_hidden],
.tbds-accordion-bulk-actions-container .vi-ui.dropdown .item[data-value=set_categories],
.tbds-accordion-bulk-actions-container .vi-ui.dropdown .item[data-value=set_tags],
.tbds-accordion-bulk-actions-container .vi-ui.dropdown .item[data-value=set_status_draft] {
  border-bottom: 1px solid rgba(1, 1, 1, 0.1) !important;
}

.tbds-modal-popup-content-set-tags .tbds-modal-popup-set-tags-clear,
.tbds-modal-popup-content-set-categories .tbds-modal-popup-set-categories-clear {
  margin-top: 10px;
}

.tbds-title-translate-btn, .tbds-attributes-button-trans {
  cursor: pointer;
  font-size: 16px;
  color: #377df2;
}
.tbds-title-translate-btn .spinner, .tbds-attributes-button-trans .spinner {
  visibility: visible;
  margin: 0;
  width: 16px;
  height: 16px;
  background-size: 16px;
}
.tbds-title-translate-btn .spinner:before, .tbds-attributes-button-trans .spinner:before {
  visibility: hidden;
}

/*# sourceMappingURL=import-list.css.map */
