* {
  box-sizing: border-box;
}

/* Setup Wizard*/
#tbds-setup-wizard {
  max-width: 1000px;
  margin: auto;
  font-size: 16px;

  h1 {
    text-align: center;
    line-height: 1.5;
    font-size: 1.7em;
  }

  h2 {
    line-height: 1.5;
    margin-top: 0;
  }

  .tbds-btn-group {
    text-align: right;
    margin-top: 14px;
  }

  .tbds-step-1, .tbds-step-2 {
    .vi-ui.table tr td {
      border-top: none;
      vertical-align: top;
    }
  }

  .vi-ui.table {
    margin-top: 0;
  }

  .tbds-settings-container-main {
    input {
      width: 100%;
      background-color: white;
      border: 1px solid #aaaaaa;
    }
  }
}


.form.setup-wizard {
  max-width: 1000px;
  margin: 0;
}


#tbds-setup-wizard .vi-ui.segment {
  /*padding: 1em;*/
}


#tbds-setup-wizard .tbds-settings-title {
  text-align: center;
  font-weight: bold;
}

#tbds-setup-wizard .tbds-settings-container-main .tbds-params-shipping-company {
  width: 100%;
  padding: 4px;
  box-shadow: none;
  border: 1px solid #aaaaaa;
}

#tbds-setup-wizard .form-table th {
  padding: 10px 5px 10px 0;
}

#tbds-setup-wizard .vi-ui.button {
  margin: 0;
}

#tbds-setup-wizard .tbds-logo {
  text-align: center;
}

#tbds-setup-wizard .tbds-skip-btn {
  text-align: center;
}

#tbds-setup-wizard .tbds-skip-btn a {
  color: #aaaaaa;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid rgba(34, 36, 38, .15);

  .select2-selection__rendered li .select2-search__field {
    width: 100% !important;
    border: 0;
  }
}

.select2-search.select2-search--inline {
  margin-bottom: 0;
}

table.price-rule.vi-ui.table tr .vi-ui.dropdown .menu .item, table.price-rule.vi-ui.table tr input, table.price-rule.vi-ui.table tr .vi-ui.label {
  padding: 8px !important;
}

table.price-rule.vi-ui.table tr .vi-ui.dropdown {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  padding-left: 8px !important;
}

.vi-ui.table thead th {
  width: auto;
  text-align: center !important;
}

.price-rule {
  th:first-child {
    width: 33%;
  }
}

.vi-ui.fluid.input {
  float: none !important;
}

.tbds-price-from, .tbds-price-to, .tbds-plus-value {
  min-width: 70px;
}